*
  box-sizing border-box
html, body
  height 100%
  overflow hidden
  user-select none
img
  vertical-align middle
a
  text-decoration none
input[type="text"], input[type="password"], input[type="number"], input[type="tel"]
  width 380px
  height 50px
  border-radius 25px
  text-indent 71px
  font-size 16px
  border none
  padding 0
  outline none
  background-color #fff3cb
  color #333
  &::placeholder
    color $inputPlace
button
  border none
  outline none
  cursor pointer
  padding 0
input[type="checkbox"]
  vertical-align middle
  width 23px
  height 23px
  -webkit-appearance none
  opacity 0
  outline none
  margin 0
  cursor pointer
  &+label
    position relative
    display inline-block
    left -23px
    z-index -1
    width 23px
    height 23px
    border-radius 100%
    background #ccc
    vertical-align middle
    margin-right -13px
    &::before, &::after
      content ""
      position absolute
      background #fff
      border-radius 1px
      transform rotate(-45deg)
    &::before
      width 2px
      height 9px
      left 6px
      top 9px
    &::after
      width 12px
      height 2px
      left 8px
      top 11px
  &:checked+label
    background #ff9c3a

/* 乐学猫dialog */
.lxm-dialog-box
  /* width 1000px !important */
  margin-top 0 !important
  top 50%
  transform translateY(-50%)
  border-radius 30px
  padding 50px
  padding-bottom 35px
  .el-dialog__header
    display none
  .el-dialog__body
    padding 0
/* 个人中心修改弹窗 */
.lxm-user-dialog
  width 510px
  margin-top 0 !important
  top 50%
  transform translateY(-50%)
  border-radius 20px
  padding 30px 50px
  position relative
  .el-dialog__header
    display none
  .el-dialog__body
    padding 0
  .user-dialog-body
    text-align center
    .dialog-close
      position absolute
      top -17px
      right -13px
    .dialog-title
      font-size 22px
      color #333333
      line-height 1
      padding-bottom 28px
    .dialog-content
      padding-bottom 30px
      .mint-datetime
        display block !important
        .picker-toolbar
          display none
      .mint-popup
        transform translate(0, 0)
        position static
      .dialog-relation
        display flex
        justify-content space-between
        .el-select.relation-select
          width 160px
          .el-input
            .el-input__inner
              width 100%
              text-indent 1em
            &.is-focus
              .el-input__inner
                border-bottom-left-radius 0
                border-bottom-right-radius 0
        .relation-name
          width 230px
          text-indent 1em
      .dialog-password
        input.password
          background-image url('../assets/svg/svg_pwd.svg')
          background-position 30px center
          background-repeat no-repeat
          background-size 22px 23px
          & + .password
            margin-top 17px 
    .dialog-bottom
      .dialog-btn
        width 155px
/* 修改el-message样式 */
.el-message
  min-width 380px
  padding 15px 15px 15px 20px
  border-radius 24px
  .el-message__content
    font-size 14px
/* 修改el-slider样式 */
.el-slider__runway
  height 6px
  margin 16px 0
  border-radius 3px
.el-slider__bar
  background-color $inputPlace
  height 6px
  border-top-left-radius 3px
  border-bottom-left-radius 3px
.el-slider__button-wrapper
  width 36px
  height 36px
  top 50%
  transform translate(-50%, -50%)
  display flex
  align-items center
  justify-content center
.el-slider__button
  width 16px
  height 16px
  border 2px solid $inputPlace