/* color */
$inputPlace = #fda203
$gray = #D2D2D2
$them = #FFC737
$fontColor = #fc8f0e
$stepGray = #D6D5D5
$errorRed = #ff4d4d
$stuBlue = #06C2CC
$stuDeepBlue = #01B1BA
$stuGreen = #B3D63B
$stuDeepGreen = #48BE5E

$hisYellow = #FFB400
$hisDeepYellow = #FF8D28
$hisSimpleYellow = #FEF2BB

$roomGreen = #58b485
$roomDeepGreen = #5FE19F